/* CARD START */

.card {
  background: var(--third-color);
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-body h3 {
  color: var(--brand-color);
}

.card-body p {
  color: var(--light-color);
}

/* CARD END */

/* MAIN BTN */
.main-btn {
  border-radius: 10px;
  background: var(--light-color);
  color: var(--bg-color);
  font-size: 2.2rem;
  font-style: italic;
  padding: 1.5rem 2.5rem;
}

.main-btn:hover {
  cursor: pointer;
  background: var(--bg-color);
  color: var(--light-color);
}
/* //////// */

/* INPUT */
.input {
  border-radius: 10px;
  background: var(--light-color);
  padding: 0.5rem;
}

.input::placeholder {
  color: var(--secondary-color);
  font-size: 32px;
}

/* /////////// */

/* SUBSRIBE BTN */
.sub-btn {
  padding: 1.5rem;
  background: var(--brand-color);
  font-size: 32px;
  color: var(--light-color);
}

/* ///////// */

/* MEDIA QUERY */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .main-btn {
    border-radius: 10px;
    background: var(--light-color);
    color: var(--bg-color);
    font-size: 2rem;
    font-style: italic;
    padding: 1.2rem 2.2rem;
  }
}

/* ////////////////////////// */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .main-btn {
    border-radius: 10px;
    background: var(--light-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    font-style: italic;
    padding: 1.1rem 2.1rem;
  }
}

/* ////////////////////////// */
@media screen and (max-width: 480px) {
  .main-btn {
    border-radius: 10px;
    background: var(--light-color);
    color: var(--bg-color);
    font-size: 1.4rem;
    font-style: italic;
    padding: 0.8rem 1.8rem;
  }
}
