/* CARD START */

.card {
  background: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 100%;
  height: 40vh;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
  text-align: center;
}

.card-body h3 {
  color: var(--brand-color);
}

.card-body p {
  color: var(--light-color);
}

.learn-more {
  text-decoration: underline;
  cursor: pointer;
}

.learn-more:hover {
  color: var(--brand-color);
}

/* CARD END */

/* MAIN BTN */
.main-btn {
  border-radius: 10px;
  background: var(--light-color);
  color: var(--bg-color);
  font-size: 2.2rem;
  font-style: italic;
  padding: 1.5rem 2.5rem;
}

.main-btn:hover {
  cursor: pointer;
  background: var(--bg-color);
  color: var(--light-color);
}
/* //////// */

/* INPUT */
input {
  border-radius: 10px;
  background: var(--light-color);
  padding: 2rem 1rem;
  width: 80%;
  margin-bottom: 2rem;
}

input::placeholder {
  color: var(--secondary-color);
  font-size: 2.2rem;
}

/* /////////// */

/* SUBSRIBE BTN */
.sub-btn {
  padding: 1.5rem;
  background: var(--brand-color);
  font-size: 2.2rem;
  color: var(--third-color);
  border-radius: 10px;
}

/* ///////// */

/* WRITER INFO CARD */
.writer-info-card {
  padding: 3rem;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  margin: auto;
  width: 10rem;
  height: 10rem;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.writer-info {
  margin-left: 2rem;
}

.name {
  margin-bottom: 2rem;
  color: var(--brand-color);
}

.company,
.bio,
.writer-follow p {
  margin-bottom: 2rem;
  color: var(--light-color);
}

.writer-social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.writer-social .social-item {
  margin-left: 0;
  cursor: pointer;
}

/* WRITER INFO CARD  END*/

/* ///////////////////////// */

/* MEDIA QUERY */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  input {
    padding: 1.8rem 0.8rem;
  }

  input::placeholder {
    font-size: 2.1rem;
  }

  .sub-btn {
    padding: 1.4rem;
    font-size: 2.1rem;
  }

  .avatar {
    width: 10rem;
    height: 8rem;
  }
}
/* /////////////////////////// */

@media screen and (max-width: 1024px) and (min-width: 769px) {
  input {
    padding: 1.5rem 0.8rem;
  }

  input::placeholder {
    font-size: 1.8rem;
  }

  .sub-btn {
    padding: 1.2rem;
    font-size: 1.8rem;
  }
}

/* ////////////////////////// */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .main-btn {
    border-radius: 10px;
    background: var(--light-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    font-style: italic;
    padding: 1.1rem 2.1rem;
  }

  input {
    padding: 1.2rem 0.8rem;
  }

  input::placeholder {
    font-size: 1.5rem;
  }

  .sub-btn {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .main-btn {
    border-radius: 10px;
    background: var(--light-color);
    color: var(--bg-color);
    font-size: 2rem;
    font-style: italic;
    padding: 1.2rem 2.2rem;
  }

  .avatar {
    width: 9rem;
    height: 7rem;
  }
}

/* ////////////////////////// */
@media screen and (max-width: 480px) {
  .main-btn {
    border-radius: 10px;
    background: var(--light-color);
    color: var(--bg-color);
    font-size: 1.4rem;
    font-style: italic;
    padding: 0.8rem 1.8rem;
  }

  input {
    padding: 1rem 0.8rem;
  }

  input::placeholder {
    font-size: 1.2rem;
  }

  .sub-btn {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
