@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap");

.blog-head1 {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 1px;
}

.blog-head2 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 1px;
}

.blog-head3 {
  font-size: 38px;
  font-weight: normal;
  font-style: italic;
}

.blog-text {
  font-size: 32px;
  font-weight: normal;
  line-height: 150%;
}
